table {
    background: #64542f;
    border: 1px solid white;
    color: white;
    border-collapse: collapse;
    line-height: 24px;
}

tr:nth-child(1) {
    background: #522e2e;
    color: #cbc18f;
}

tr:nth-child(2n) {
    background: #342c19;
}

th {
    border: 1px solid white;
    padding: 1px 5px 1px 5px;
    text-align: center;
    min-width: 75px;
}

td {
    border: 1px solid white;
    padding: 1px 5px 1px 5px;
    text-align: center;
    min-width: 75px;
}

.pane-tab {
    display: flex;
}

.gm-screen-pane {
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}
